.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://thumbs.dreamstime.com/b/doctor-leading-medical-blurry-hospital-background-doctor-leading-medical-blurry-hospital-background-130587421.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 1.5rem 2rem 1.5rem;
    width: 100%;

}

.location-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}


.location-search ul {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: -115px;
    right: 11.63vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-glass);
    width: 22vw;
    max-width: 250px;
    text-align: center;
    animation: fade 400ms ease forwards;
    overflow-y: scroll;
    height: 130px;

}

.location-search ul li {
    border-bottom: 1px solid black;
    padding: 4px 0;
}

.location-search ul li:last-child {
    border: none;
}

.location-search input {
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    outline: none;
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding: 0.4rem 2.2em 0.4rem 0.5em;
    font-size: 1.125rem;
    width: 55vw;
    max-width: max(400px, 50vw);
    height: 3rem;
    max-height: max-content;
    background-color: rgba(240, 248, 255, 0.8);
}

.search-input {
    position: relative;
}

.search-input svg {
    position: absolute;
    bottom: 47px;
    right: 20px;

}

.location-filter {
    margin: 10rem 15px 2rem;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    width: 30vw;
    max-width: 300px;
    height: 3rem;
    max-height: max-content;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.8);
    cursor: pointer;
}

li {
    cursor: pointer;
}

.container-Hospitals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.hos-at-loc {
    margin-top: 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1.3px;
}

.hos-at-loc>p {
    font-style: oblique;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: brown;
    letter-spacing: 1px;
    line-height: 2;
    text-transform: uppercase;
    margin-left: 1.5px;
    text-align: center;
}



@media only screen and (min-width:601px) and (max-width:1025px) {
    .location-search ul {
        bottom: -108px;
        right: 8.63vw;
        width: 25vw;
        max-width: 250px;
    }
}

@media only screen and (max-width:600px) {
    .location-search input {
        margin-bottom: 1rem;
        width: 90vw;
    }

    .search-input svg {
        bottom: 33px;
    }

    .location-search ul {
        bottom: -140px;
        right: 22.63vw;
        width: 45vw;
        max-width: 250px;

    }


    .location-search ul li {
        margin: 5px 0;
        padding: 1px 0 2px 0;
        text-align: center;

    }

    .location-filter {
        margin: 0;
        width: 70vw;
        max-width: 300px;

    }

    .hos-at-loc {
        margin-left: 0.5rem;
    }
}