nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--bg-color);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;

}

nav h4 {
    margin-right: auto;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    font-style: oblique;
    letter-spacing: .5px;
    font-weight: 700;
    text-align: center;
}

h4 a {
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 0.1rem;

}

h4 a:hover {
    color: aliceblue;

}



li a {
    padding: 0.5rem 0.1rem;
    text-decoration: none;
    color: aliceblue;
}

li a {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

li svg {
    fill: var(--fill-color);
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}



.nav-link {
    display: flex;
    margin-top: 10px;
    margin-right: 2px;
    margin-bottom: 8px;

}

.nav-link li {
    display: inline-block;
    padding: 0 0.8rem;
}

.Menu-icon {
    display: none;
}

.Menu-icon svg {
    fill: var(--fill-color);
}

.Navbar-mobile {
    display: none;
}

.hidden-desktop {
    display: none;

}

li a:hover {
    color: aliceblue;
}

.nav-link-a {
    display: none;
}

@media only screen and (min-width:601px) and (max-width:777px) {
    .nav-link li {
        padding: 0 0.3rem;
    }

    li svg {
        height: 1.25rem;
        width: 1.3rem;
        margin-right: 0.2rem;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width:601px) {
    nav {
        padding: 12px 0;
    }

    nav h4 {
        font-size: 1.1rem;
    }

    li {
        padding: 5px 0;
    }

    li a {
        color: black;
        font-weight: 500;
        padding: 5px;



    }

    .Menu-icon {
        display: inline;
    }

    g {
        fill: var(--fill-color);
    }

    li svg,
    li g {
        fill: black;
    }

    .nav-link {
        display: none;
    }

    li {
        margin: 10px 0;
    }

    li a:hover {
        color: black;
    }

    .Navbar-mobile,
    .hidden-desktop {
        display: block;
        flex-direction: column;
        margin: 0;
        margin-right: 100px;
        background-color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 100vh;
        position: fixed;
        width: 60vw;
        list-style: none;
        padding: 10px 5px 5px 10px;
        animation: side-bar 200ms ease-out;
    }

    @keyframes side-bar {
        from {
            transform: translateX(-100%);
            opacity: 0;

        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .hidden-desktop {
        animation: side-bar-close 200ms ease-in forwards;
    }

    @keyframes side-bar-close {
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    .background-open {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: rgba(10, 10, 10, 0.5);
        transform: translateX(-100%, 0%);
    }


}