:root {
    --bg-color: #0093b7;
    --bg-color-2: #008b8b;
    --fill-color: rgba(255, 255, 255, 0.8);
    --button-color: #0093b7;
    --bg-glass: rgba(240, 248, 255, 0.8);
    --bg-ghoseWhite: hsl(240, 100%, 99%);
    --bg-red: #ff0000;
}

*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#root {
    position: relative;
}

#portal-root {
    position: absolute;
    top: 50px;
}



.activeNavbar {
    overflow: hidden;
}